body{
    font-family: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color: aliceblue;

}

/* Header **/
.header-block{
    width:992px;
    margin:auto;
    padding-top:5px;
}

.highlight{
    color:#ffffff;
    text-align: right;

}


header{
    background:#3b5998;
    color:#ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom:#3b5998 3px solid;
}

header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: inherent;
}

header nav{
    float:right;
    margin-top:0;
    padding-right:0;
}

header h1{
    float:left;
    font-size: 40px;
}

header #branding{
    float:left;
}
header #branding h1{
    margin:0;
}

.email{
    float:left;
}
.email label{
    padding-bottom:20px;
    font-size: 14px;
}
.email input[type="text"]{
    height:25px;
    width:150px;
}

header #mycheckinput[type="checkbox"]{
     color:#ffffff;
     margin-bottom: 20px;

}
.password{
    float:left;
    margin-left:20px;
    height:25px;
}
.password label{
    padding-bottom:20px;
    font-size: 14px;
}

.login-button{
    float:left;
    margin-top:20px;
    margin-left:20px;
    height:25px;
}
.login-button input[type="submit"]{
    background:#4267b2;
    border: 1px solid #ffffff;;
    width:50px;
    height:20px;
    color:#ffffff;
}

/* Section */
.content-control{
   width:980px;
   height: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 5px;
}

.left{
    float: left;
    margin-top: 20px;
    width: 400px;
    font-family:Arial;
    color: #0E385F;
}

.left h4{
    margin-top:20px;
    margin-bottom:60px;
    font-size:17px;
} 

.left img{
    margin-right: 10px;
}

.right {
    float: right;
    font-family: 'Times New Roman', Times, serif;
    margin-top:20px;
    font-size:15px;
    text-align:left;
}
.right h1{
    margin-top: 10px;
    font-size:30px;
}

.ipt{
    width: 201px;
    height: 34px;
    margin-top:10px;
    margin-left: 2px;
    margin-bottom: -20px;
    font-family: Arial;
    border-radius: 1px solid #95a5a6;
}

.ipt2{
    width: 414px;
    height:34px;
    margin-left:2px;
    margin-bottom:-25px;
    border-radius: 1px solid #95a5a6;
}
.ipt3{
    width:195px;
    height:34px;
    margin-left:2px;
    font-family: Arial;
}

.ipt4{
margin-left:2px;
width: 13px;
}

form{
    color:#042a7a;
    padding-top: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.left h6{
    padding-right:50px;
}

.login-button2 input[type="submit"]{
    background:#0a770a;
    margin-left:7px;
    margin-top:0px;
    width:250px;
    height:30px;
    font-size: 17px;
    color: #f3e6e6;
    border: 1px solid #023602;
    padding-top: 0px;
}

.left2{
    font-size:15px;
    margin-bottom: -15px;
    padding-bottom: -15px;
    margin-left: 5px;
    color: #686d6d;
}

hr{
    display:block;
    margin-left:7px;
    margin-top:5px;
}

.left3{
    font-size:13px;
    color: #686d6d;
    margin-top:-5px;
    margin-left:7px;
}